{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Home Page - PhotoEditor</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/et-line-font.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/nivo-lightbox.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/nivo_themes/default/default.css' %}">
	<link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>

</head>
<body>
  {% csrf_token %}
  <div id="app"></div>
  Hi Welcome to Photos Page
  <script src="{% static 'js/build/bundle.js' %}"></script>
</body>

</html>
