/*

Template 2075 Digital Team

http://www.tooplate.com/view/2075-digital-team

*/

body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: relative;
  }


html, body {
     width: 100%;
     overflow-x: hidden;
     max-width: 100%;
  }


h1, h2, h3, h4 {
  font-weight: bold;
  letter-spacing: 2px;
}

/* ==========================================================================
media quires for mobile
========================================================================== */
@media (max-width: 440px) {
  #home {
    padding-top: 320px;
    padding-bottom: 320px;
  }
  #home h1 {
    font-size: 22px;
  }
  #home h3 {
    font-size: 12px;
  }

}

#register {
  margin-left: 400px
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #73716f;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.form {
  background: #f5f5f5;
  padding: 30px;
  max-width: 100%;
  width: 34em;
  margin: 30px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #c1bdba;
  color: #000;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #73716f;
  color: #ffffff;
}
.tab-group .active a {
  background: #73716f;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: black;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 15px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

.user-menu  {
  float: right;
  text-align: right;

}

.user-menu a {
  cursor: pointer;
  text-decoration: none;
}

.no-bucketlist {
  font-size: 16px;
}

.no-item {
  font-size: 16px;
}
.bucket-list .panel-heading {
  font-size: 30px;
  text-align: center;
  word-break: break-all;
}

.panel-body .panel-title {
  text-align: left;
}
.app-name {
  float: left;
  text-align: left;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-top: 0em;
}

.menu {
  background-color: cadetblue;
}


.glyphicon-plus-sign {
  font-size: 3em;
    margin-left: 8.7em;
    color: #f5f5f5;
    cursor: pointer;
    margin-top: -0.3em;
}
.search {
  margin-left: 45em;
  margin-top: -4em;

}

.search-bucket-list {
  margin-left: 12em;
  margin-top: 2em;
  float: left;
}

.bucket-list {
  width: 30%;
    margin-left: 20px;
    float: left;
}
}
.single-bucketlist {
  margin-left: -50px;
}

.single-bucketlist a {
  cursor: pointer;
  text-align: left;
  width: 80%;
  border-style:hidden;

}

.single-bucketlist-item .manage {
  width: 15%;
  float: right;
  margin-right: -5em;
  margin-top: 0.2em;
}

.single-bucketlist-item .manage a {
  margin-right: 0.6em;
}

.btn-default {
  border-style: none;
}

.single-bucketlist .manage a {
  cursor: pointer;
  text-align: left;
  width: 100%;
  padding-left: 2.5em;
}

.delete-item {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.glyphicon-trash {
  color:  #d9534f;
}

.glyphicon-pencil {
  cursor: pointer;
}

.glyphicon-trash {
  cursor: pointer;
}

.add-item {
  background-color: darkslategray;
}

.bucket-list-items {
  margin-left: 50px;
  float: left;
  width: 60%;
}

.bucket-list-items .panel-default {
  border: none;
}

.bucket-list-items .panel-heading {
  text-align: center;
  font-size: 20px;
  word-break: break-all;
}
}

.bucket-list-items .item-name {
  font-size: 18px;
  padding-left: 0.8em;
  word-break: break-all;
  text-decoration: none;
  color: black;
}
.item-name {
  padding: 0.3em;
}

.single-bucketlist-item {
  background-color: #fff;
}

.bucket-list-item-title {
  margin-top: -1.5em;
  margin-left: 2em;
}

#login .btn {
  width: 100%;
  height: 2.5em;
  background: darkcyan;
}


#signup .btn {
  width: 100%;
  height: 2.5em;
  background: darkcyan;
}

#login .alert-msg {
  text-align: center
}

.navbar-brand {
  height: 65px;
  line-height: 30px;
  font-size: 30px;
}

.dropdown-toggle {
  font-size: 20px;
  line-height: inherit;
  margin-top: 0.3em;
}

.navbar-default {
  background-color: #8b9dc3;
}

.navbar-default .navbar-brand {
    color: #000000;
}

.navbar-default .navbar-nav>li>a {
    color: #000000;
}

.alert {
  text-align: center;
}

.modal-content {
  width: 35em;
  margin-left: -5em;
}

.panel-group {
    margin-bottom: 5px;
}

.form-control {
  display: inline-block;
  width: 85%;
  margin-left: 0.9em
}

.btn-change-item-status {
  margin-left: 1em;
  margin-top: -0.2em;
}

#signup .form-control {
  margin-left: 0em;
  width: 100%;
}

#login .form-control {
  margin-left: 0em;
  width: 100%;
}

.single-bucketlist-item .green-circle {
  width: 10px;
  height: 10px;
  background: green;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  float: left;
  margin-left: 0.4em;
  margin-top: 0.35em;
}

.single-bucketlist-item .grey-circle {
  width: 10px;
  height: 10px;
  background: grey;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  float: left;
  margin-left: 0.4em;
  margin-top: 0.35em;
}


.done-tips .green-circle {
  width: 10px;
  height: 10px;
  background: green;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  float: left;
}

.done-tips .grey-circle {
  width: 10px;
  height: 10px;
  background: grey;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  float: left;
  margin-left: 2em;
}

.done {
  float: left;
  margin-top: -0.35em;
}

.not-done {
  float: left;
  margin-top: -0.35em;
}

.done-tips {
  margin-top: 0.1em;
  margin-bottom: 0.6em;
  margin-left: -0.3em;
}

.well {
  border-radius: 0px;
}

.item-detail {
}

.pagination {
  margin-top: -0.5em;
}







.item img {
  width: 100%;
  height: 100px;
}

#facebook-login .btn-primary {
  margin-top: -200px;
  margin-left: 555px;
  position: absolute;
}

.carousel {
    margin-top: -2%;
}
