/*

Template 2075 Digital Team

http://www.tooplate.com/view/2075-digital-team

*/

body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: relative;
  }


html, body {
     width: 100%;
     overflow-x: hidden;
     max-width: 100%;
  }


h1, h2, h3, h4 {
  font-weight: bold;
  letter-spacing: 2px;
}

/* ==========================================================================
media quires for mobile
========================================================================== */
@media (max-width: 440px) {
  #home {
    padding-top: 320px;
    padding-bottom: 320px;
  }
  #home h1 {
    font-size: 22px;
  }
  #home h3 {
    font-size: 12px;
  }

}

#register {
  margin-left: 400px
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #73716f;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.form {
  background: #f5f5f5;
  padding: 30px;
  max-width: 100%;
  width: 34em;
  margin: 30px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #c1bdba;
  color: #000;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #73716f;
  color: #ffffff;
}
.tab-group .active a {
  background: #73716f;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: black;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 15px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.navbar-brand {
  height: 65px;
  line-height: 30px;
  font-size: 30px;
}

.dropdown-toggle {
  font-size: 20px;
  line-height: inherit;
  margin-top: 0.3em;
}

.navbar-default {
  background-color: #8b9dc3;
}

.navbar-default .navbar-brand {
    color: #000000;
}

.navbar-default .navbar-nav>li>a {
    color: #000000;
}

#facebook-login .btn-primary {
  margin-top: -200px;
  margin-left: 555px;
  position: absolute;
}

.carousel {
    margin-top: -2%;
}
